.hero {
  &__bigbox {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__box {
    width: 589px;
    color: #fff;
  }

  &__blur {
    position: absolute;
    top: 0;
    right: 0;
    height: 752px;
    width: 752px;
    border-radius: 0px;

    background-color: rgba(64, 181, 206, 0.9);
    filter: blur(292.64px);
  }

  &__title {
    font-weight: 700;
    font-size: 108px;
    line-height: 108px;
    margin-bottom: 23px;
  }

  &__text {
    width: 470px;
    font-family: "PT Sans";
    font-size: 31px;
    line-height: 45px;
    border-bottom: 1px solid #fff;
    padding-bottom: 10px;
    margin-bottom: 18px;
  }

  &__desc {
    font-family: "PT Sans";
    font-size: 22px;
    line-height: 30px;
  }

  &__imgbox {
    position: relative;
    width: 929px;
    height: 653px;
  }

  &__j {
    width: 880px;
    height: 390px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    mix-blend-mode: luminosity;

    & img {
      width: 880px;
      height: 390px;
      object-fit: contain;
    }
  }

  &__m {
    width: 863px;
    height: 448px;
    position: absolute;
    bottom: 0;
    right: -28%;
    z-index: 2;

    & img {
      object-fit: contain;
    }
  }

  &__c {
    width: 406px;
    height: 370px;
    position: absolute;
    top: 45%;
    left: 12%;
    transform: translateY(-50%);
    z-index: 2;
    opacity: 0.2;

    & img {
      object-fit: contain;
      mix-blend-mode: soft-light;
    }
  }

  &__plus {
    width: 373px;
    height: 206px;
    position: absolute;
    bottom: -9.5%;
    left: -30%;
    opacity: 0.3;

    & img {
      object-fit: contain;
    }
  }
}
